
        <table class="table borderless">
            <tbody>
            <tr class="d-flex">
                <th scope="row" class="col-2">Nazwa Przepisu</th>
                <td class="col-7">
                    {{recipe_new.name}}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Opis przepisu</th>
                <td class="col-7">{{recipe_new.description}}
                </td>
            </tr>
            <tr class="d-flex">
                <th scope="row" class="col-2">Przygotowanie(minuty)</th>
                <td class="col-7">
                    {{recipe_new.preparation_time}}
                </td>
            </tr>
            </tbody>
        </table>
        <div class="row d-flex">
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Sposób przygotowania</h3></div>
            <div class="col-2"></div>
            <div class="col-5 border-bottom border-3"><h3
                    class="text-uppercase">Składniki</h3></div>
        </div>
        <div class="row d-flex">
            <div class="col-5 p-4">
                <p>{{recipe_new.instructions}}</p>
            </div>
            <div class="col-2"></div>
            <div class="col-5 p-4">
                {% for ingredient in recipe_new_ingredients %}
                    <ul>{{ ingredient }}</ul>
                {% endfor %}
            </div>
        </div>

    </div>
</div>
{% endblock content %}