<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nowy przepis - formularz</title>
</head>
<body>

{% if message %}
{{ message }}
{% endif %}

    <h1>Dodaj nowy przepis:</h1>

    <form action="" method="POST">

        <label>
            Nazwa przepisu:
            <input type="text" name="name"/>
        </label>
        <br>

         <label>
            Opis przepisu:
            <input type="text" name="description"/>
        </label>
        <br>

         <label>
            Czas przygotowania w minutach:
            <input type="number" name="preparation_time" />
        </label>
        <br>

        <label>
            Sposób przygotowania:
            <input type="text" name="instructions"/>
        </label>
        <br>

        <label>
            Składniki:
            <input type="text" name="ingredients"/>
        </label>
        <br>

        <input type="submit" value="Wyślij">

        {% csrf_token %}

    </form>

</body>
</html>